services:
  express:
    depends_on: [ mariadb ]
    build:
      context: .
      target: production
    environment:
      NODE_ENV: development
    ports:
      - "3001:3001"
    volumes:
      - ".:/app"

    command: [ "npm", "run", "start" ]

  mariadb:
    image: mariadb:11.2.2
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MARIADB_HOST: mariadb
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_DATABASE: ${DB_DATABASE}
    volumes:
      - "./docker/mariadb/data:/var/lib/mysql"
    ports:
      - "3306:3306"

  adminer:
    image: adminer:4.8.1-standalone
    restart: always
    ports:
      - "8001:8001"
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
    depends_on:
      - mariadb
