services:
  express:
    depends_on: [ mariadb ]
    build:
      context: .
      target: express
    environment:
      NODE_ENV: development
    ports:
      - "8000:8000"
    volumes:
      - ".:/app"

    command: [ "npm", "run", "start" ]

  mariadb:
    image: mariadb:11.2.2
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: finalDB
      MYSQL_USER: mariaDB
      MYSQL_PASSWORD: mariaDB
    volumes:
      - "./docker/mariadb/data:/var/lib/mysql"
    ports:
      - "3306:3306"

  adminer:
    image: adminer:4.8.1-standalone
    restart: always
    ports:
      - "8080:8080"
    environment:
      ADMINER_DEFAULT_SERVER: mariadb
    depends_on:
      - mariadb
